@model IEnumerable<The_Recipe_House.Models.Profile>

@{
    ViewData["Title"] = "Index";
}

<h1>Profile</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@foreach (var item in Model)
{
    <div class="card">
        <img src="@item.ProfileImg" class="card-img-top" style="padding: 10px; object-fit: cover; width: 250px; height: 250px;" alt="Profile Image" />
        <div class="card-body">
            <h5 class="card-title">@item.Username</h5>
            <p class="card-text">@item.Bio</p>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    </div>
}
