@model IEnumerable<The_Recipe_House.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Check out our recipes!</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" style="padding: 10px; object-fit: cover; width: 250px; height: 250px;" src="@Html.DisplayFor(modelItem => item.ImageURL)" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">
                    @Html.DisplayFor(modelItem => item.Title)
                </h5>
                <p class="card-text">
                    @Html.DisplayFor(modelItem => item.Description)
                </p>
                <a asp-action="Details" asp-route-id="@item.Id" asp-route-title="@item.Title" class="btn btn-primary">Details</a>
            </div>
        </div>
    }
</div>

